*.iml
.gradle
/.gradle-user/
/.android-user/
/.build-user/
/.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/.idea/vcs.xml
/captures
.externalNativeBuild
.cxx
__pycache__/
results/
local.properties
# 2026-09-27: large local-only model binaries (EfficientNet-Lite0 original etc.) - never commit
/local_models/
