<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.example.d1check.permission.READ_RUN_CONTEXT" />
    <queries>
        <provider android:authorities="com.example.d1check.run" />
    </queries>
</manifest>
