# S26 NPU (2026-09-24): AOT-compiled models and EfficientDet binaries stay out of the repo.
#   EfficientDet-Lite0 license attribution is unverified -> original and compiled never committed.
#   MobileNet V1 *_Samsung_E9965.tflite committed in 8f64581 stay tracked (ignore does not untrack).
#   Moved from the root .gitignore (mingyujo's file) so our rules cannot conflict with his branch.
*_Samsung_E9965.tflite
*_apply_plugin.tflite
*efficientdet*.tflite
local_models/
